@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 50%;
  margin: auto;
  color: #333;
}

.header {
  display: flex;
  align-items: center;
}

.face {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.title {
  flex: 1;
  margin-left: 20px;
}

.name {
  color: gray;
}

.coral {
  color: coral;
}
.qualifications {
  letter-spacing: 1px;
}
.hrline {
  border: 1px solid coral;
}

.table-heading {
  min-width: 300px;
  display: block;
}

.table-props {
  font-size: 22px;
  color: coral;
}

.marginfix {
  margin-top: 20px;
}

.jobheading {
  font-size: 20px;
  line-height: 25px;
}

.jobdurations {
  font-weight: 300;
  line-height: 25px;
}

.jobdescriptions {
  margin-top: 30px;
}
